@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

a {
    text-decoration: none;
}

header {
    font-family: 'Bebas Neue', cursive;
}

span {
    color: #fff;
}

#container-main {
    display: flex;
    height: 1000px;
    width: 400px;
    flex-direction: column;
    text-align: center;
}

#get-started {
    width: 100px;
    height: 60px;
}