:root {
    --FontePrincipal: Arial, Helvetica, sans-serif;
}

.table {
    display:flex;
    justify-content: center;
    padding: 0 200px;
}
table {
    width: 100%;
}

a {
    text-decoration: none;
}

h1 {
    color: white;
}